<%- include("./partials/header.ejs") %>


    <h3>hello</h3>
    <div class="user">

       <li><a href="/upd/<%=data._id %>"><button class="upd"><i class="fa fa-pencil"></i></button></a>
            <h2 class="name"><a href="/user/<%=data._id %>"><%= data.name %></a></h2>
            <h3 class="age" ><%= data.age %></h3>
            <h3 class="occupation"><%= data.occupation %></h3>
            <h4 class="about"><%= data.about %></h4>
          <a href="/del/<%=data._id %>"><button class="del"><i class="fa fa-trash"></i></button></a></li>
    </div>
<%- include("./partials/footer.ejs") %>
